<h1>Login Here</h1>

<form action="/login" method="post">
  <label for="email">Email: </label>
  <input type="text" name="email">
  <br>

  <label for="password">Password: </label>
  <input type="password" name="password">
  <br>

  <input type="submit" value="Login">
  <br>
  <a href="/users/new">Register Here</a>
</form>
