body{
  background-image: url(http://i.imgur.com/mvnii0H.jpg);
  background-size: cover;
}

a {
  color: #22B7F6;
  text-decoration: none;
  font-family: 'Quicksand', cursive;
}



h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-style: italic;
  opacity: 0.75;
  letter-spacing: 6px;
  font-size: 75px;
  color: #ff1bb6;
}

#deck{
  background-color: white;
  width: 10%;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}

#navbar{
  text-align: center;
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
  width: 6%;
  border-radius: 20px;
  margin-left: 93%;
  margin-top: 10px;
}

#navbar2{
  background-color: white;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;

}
