<link rel="stylesheet" href="../css/new.css" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

<h1>Register Here</h1>

<form action="/users" method="post">
  <div>
  <label for="name">Name: </label>
  <input type="text" name="user[name]">


  <label for="email">Email: </label>
  <input type="text" name="user[email]">
  <br>

  <label for="password">Password: </label>
  <input type="password" name="user[password]">
  <br>

  <input type="submit" value="Create User">
  <br>

  </div>
</form>

<a href="/">Return Home</a>
